
    <!-- Footer -->
    <footer>
		<hr>
        <div class="container">
            <div class="row">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ site.footer.forum_url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.footer.github_url }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">{{ .Site.Copyright }} Unless otherwise stated, all text and images on this website are licensed under either a choice of the
                    <a href="/about/licenses/#_creative_commons_attribution_3_0_unported">Creative Commons Attributions License</a>, version 3.0 or later;
                    or the <a href="/about/licenses/#_gnu_general_public_license_v3">General Public License version</a> 3 or later. This does not include
                    the KiCad source code, libraries, documentation, and any third party tools or products mentioned on the website.
                    </p>
                </div>
            </div>
        </div>
    </footer>


    {% asset jquery-3.5.1.js  %}
    {% asset bootstrap.js  %}
    {% asset kicad.js  %}

    <!-- at the end of the BODY -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    
    <script type="text/javascript"> docsearch({
    apiKey: 'c3bb1e95e328780b7f8624c691fbea24',
    indexName: 'kicad',
    inputSelector: '#doc-search-input',
    algoliaOptions: { 'facetFilters': ["version:{{ page.version }}", "language:{{ page.lang }}"] },
    debug: false // Set debug to true if you want to inspect the dropdown
    });
    </script>
</body>

</html>
